.container-app {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 600px;
  padding: 50px;
  border-style: 1px solid;
  border-radius: 30px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 20%);
}

.github-repository {
  padding: 30px;
  text-align: center;
}

.current-temperature {
  position: relative;
  left: -10px;
  margin: 0px 10px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: black;
}

.weather-forecast canvas {
  height: 36px;
  position: relative;
  right: 0px;
}

.units {
  position: relative;
  right: 20px;
}

.container-current-temperature {
  padding: 0px;
}

/*searchcss*/

.row {
  max-width: 400px;
  margin: 0px auto;
}
.btn {
  line-height: 1.4em;
}

.city-text {
  border: 1px solid #ff88f9;
  border-radius: 50px;
  font-size: smaller;
}

::placeholder {
  opacity: 0.4;
}

.submit-button {
  background-color: #000000;
  box-shadow: 0 20px 40px rgb(65 50 100 / 10%);
  border: 1px solid #000000;
  border-radius: 50px;
  font-size: smaller;
  color: #fafafa;
  position: relative;
  left: 3px;
}

.submit-button:hover {
  background-color: #000000;
  border: 1px solid #000000;
  color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
}

.location-button {
  box-shadow: 0 20px 40px rgb(65 50 100 / 10%);
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 50px;
  font-size: smaller;
  color: #fafafa;
}

.location-button:hover {
  background-color: #000000;
  border: 1px solid #000000;
  color: #fafafa;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

/*datacss*/

h1 {
  color: #000000;
  text-transform: uppercase;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 60px;
  padding: 20px;
  margin: 5px 0px 0px 0px;
  line-height: 0.8;
}
h2 {
  color: #000000;
  font-size: 15px;
  margin: 0px 0px 10px 0px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  opacity: 0.5;
}

/*currentweathercss*/

a {
  color: #000000;
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
}
a:hover {
  color: #83c4d7;
}
ul {
  list-style: none;
  padding: 20px 0px 20px 0px;
  margin-top: 5px;
  margin-left: 10px;
}

li {
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.currentTemperature {
  font-style: bold;
  font-size: 68px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #000000;
}
canvas {
  position: relative;
  right: 3px;
  top: 5px;
}
.units {
  position: relative;
  left: -18px;
  top: -28px;
  font-size: 30px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-current-temperature {
  display: block;
  margin: 16px auto 0px;
}
.col-sm-7 {
  padding: 0px;
}

.col-sm-5 {
  font-size: smaller;
  padding: 0px;
}

.description {
  text-transform: capitalize;
}
.humidity {
  display: inline;
}

.wind {
  display: inline;
}

.units {
  font-size: 25px;
}
